.sport-edit {
	.sport-edit-submit-button {
		margin-top: 2rem;
		background: #76b624;
		color: #FFF;
	}

	.panel {
		margin: .68267rem 0 1.19467rem;

		.panel__title {
			position: relative;
			margin-bottom: 1.06667rem;
			padding-left: 1.06667rem;
			color: #6a6a77;
			font-size: inherit;
			line-height: 1.5;
		}
	}
}
